/* 默认样式表 */
QWidget {
    background-color: black;
    color: white;
}

QPushButton {
    background-color: rgba(60, 60, 60, 0.9);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

QPushButton:hover {
    background-color: rgba(80, 80, 80, 0.9);
}

QPushButton:pressed {
    background-color: rgba(100, 100, 100, 0.9);
}